body{
    background-image: url(/assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    display: column;
    
}
/*forms*/


.report_date{
    padding-left: 40px;
}

.report_address{
    padding-left: 40px;
}

.letter{
    padding-left: 40px;
}


.createR{
    text-align: left;
    color:#4F4A45;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 1000;
}


.nbutton {
    color: #4F4A45;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-left: 25px;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}



form h2{
    text-align: center;
}

.report_date{
    margin-top: 20px;
    margin-left:20px;
    margin-bottom: 0px;
}
.report_date input{
    border: 1px transparent;
            background-color: #ffeee8;
            border-radius: 10px;
            font-size: 15px;
            margin-left: 20px;
            width: 90%;
            height: 30px;
            box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
}

.report_address{
    margin-left:20px;
    margin-bottom: 0px;
}
.report_address input{
    border: 1px transparent;
            background-color: #ffeee8;
            border-radius: 20px;
            font-size: 15px;
            margin-left: 20px;
            box-sizing: border-box;
            width: 90%;
            height: 260px;
            box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);

}


.letter input{
    border: 1px transparent;
            background-color: #ffeee8;
            border-radius: 20px;
            font-size: 15px;
            margin-left: 40px;
            width: 85%;
            height: 800px;
            box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
}

.next {
    width: 60px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px transparent;
    background-color: #aca299;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 23px;
    padding: 10px 20px; /* Adjust padding instead of width and height */
    display: inline-block; /* Make it a block-level element */
    box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
    transition: border-bottom 0.5s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.next:active,
.next:visited {
    color: white;
    text-decoration: none;
}

.next:hover {
    border-bottom: 2px solid #4F4A45;
    background-color: #4F4A45;
    color: white;
}

.back {
    width: 60px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px transparent;
    background-color: #aca299;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 75%;
    margin-top: 50px;
    margin-bottom: 23px;
    padding: 10px 20px; /* Adjust padding instead of width and height */
    display: inline-block; /* Make it a block-level element */
    box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
    transition: border-bottom 0.5s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.back:active,
.back:visited {
    color: white;
    text-decoration: none;
}

.back:hover {
    border-bottom: 2px solid #4F4A45;
    background-color: #4F4A45;
    color: white;
}



@media (min-width: 1000px) {
    @media (min-width: 1000px) {
        
        .user img{
            margin-left: 10px;
        }

        .nav img{
            margin-left: 50px;
        }
        
        .nav-left {
            position: absolute;
            padding-left: 75vw;
            margin-top: 40px;
            display: flex;
            flex-direction: grid;
            justify-content: left;
            font-size: 2.5vmin;
        }
        
        .nbutton {
            font-family: "Poppins", sans-serif;
            color: #4F4A45;
            font-weight: 700;
            margin-left: 25px;
            text-decoration: none;
            border: 2px solid transparent;
            padding: 5px;
            transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                }

            .nbutton:active{
                    color: #4F4A45;
                }
                
            .nbutton:visited {
                    color: #4F4A45;
                }

            .nbutton:hover {
                    border-bottom: 2px solid #4F4A45;
                }
                
            
    
        .menu {
            position: absolute;
            overflow: hidden;
            margin-left: 260px; /* Adjust the left margin as needed */
            margin-top: 40px; /* Adjust the top margin as needed */
            padding-top: 10px;
            display: flex;
            flex-direction: column;
        }

        .report_address input{
            border: 1px transparent;
                    background-color: #ffeee8;
                    border-radius: 20px;
                    font-size: 15px;
                    margin-left: 60px;
                    width: 500px;
                    height: 260px;
                    box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
        }

        .report_date input{
                border: 1px transparent;
                        background-color: #ffeee8;
                        border-radius: 10px;
                        font-size: 15px;
                        margin-left: 55px;
                        width: 500px;
                        height: 30px;
                        box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
             }

             .letter{
                position: absolute;
                margin-left: 740px;
                margin-top: -405px;
            
            }
                .letter input{
                    border: 1px transparent;
                            background-color: #ffeee8;
                            border-radius: 20px;
                            font-size: 15px;
                            margin-left: 60px;
                            width: 500px;
                            height: 345px;
                            box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
                }

            .arrow{
                flex-direction: column;
            }
            .back {
                width: 60px;
                text-decoration: none;
                text-align: center;
                color: white;
                border: 1px transparent;
                background-color: #aca299;
                border-radius: 15px;
                font-size: 15px;
                margin-top: 50px;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 23px;
                padding: 10px 20px; /* Adjust padding instead of width and height */
                display: inline-block; /* Make it a block-level element */
                box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
                transition: border-bottom 0.5s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            }
            
            .back:active,
            .back:visited {
                color: white;
                text-decoration: none;
            }
            
            .back:hover {
                border-bottom: 2px solid #4F4A45;
                background-color: #4F4A45;
                color: white;
            }
    
                .next {
                    width: 60px;
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    border: 1px transparent;
                    background-color: #aca299;
                    border-radius: 15px;
                    font-size: 15px;
                    margin-top: 30px;
                    margin-bottom: 23px;
                    margin-left: 10px;
                    padding: 10px 20px; /* Adjust padding instead of width and height */
                    display: inline-block; /* Make it a block-level element */
                    box-shadow: 0px 2px 2px rgba(92, 90, 90, 0.5);
                    transition: border-bottom 0.5s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                }
                
                .next:active,
                .next:visited {
                    color: white;
                    text-decoration: none;
                }
                
                .next:hover {
                    border-bottom: 2px solid #4F4A45;
                    background-color: #4F4A45;
                    color: white;
                }
                .arrows {
                    margin-left:80%;
                    display: flex;
                    flex-direction: row; /* Initial direction, e.g., in a row */
        
            }
        }
    }
        


